# Files are already in repository, copied over so the site can access them
# During deployment of the site, the GH action copies the files from the repository to the site
assets/GameID.py
assets/ConsoleID.py
assets/README.md
assets/db.pkl.gz